@import "./partials/mixin.scss";
@import "./partials/variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

header,
footer
{
    height: $header_height;
}

header
{
    background-color: white;
    li.active
    {
        border-color: blue;
        a
        {
            color: blue;
        }
    }
}

#central_menu_block
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(1.5 * $header_height);
    background-color: blue;
}

.centered_block
{
    width: $block_width;
    margin: auto;
}
