$header_height          : 10vh;
$jumbotron_height       : 50vh; 
$comics_area_height     : 50vh; 
$central_menu_height    : 15vh;
$footer_bg_height       : 65vh; 
$footer_height          : 10vh;
$block_width            : 80vw;
$menu_border_thickness  : 3px;
$cards_per_row          : 6;
$cards_gap              : 30px; 

$comics_bg_color        : rgb(34, 25, 25); 
$central_color          : #0282F9; 
$footer_color           : #303030; 