$header_height          : 10vh;
$jumbotron_height       : 50vh; 
$footer_height          : 10vh;
$central_menu_height    : 15vh;
$block_width            : 80vw;
$menu_border_thickness  : 3px;

$central_color          : #0282F9; 
$footer_color           : #303030; 