@import "./variables.scss";

@mixin itemsListStyle($list, $font, $gap, $color)
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
    @if $list == 3 {
        flex-direction: column;
        align-items: flex-start;
    }
    li{
        a{
            color: $color;
            font-size: $font;
        }
    }
}
